{% extends "_layout.txt.j2" %}
{% block content %}
{{ invited_by_name }} приглашает вас присоединиться к организации «{{ organization_name }}» в {{ app_name }}.
{% if role_names %}

Ваши роли: {{ role_names | join(", ") }}.
{% endif %}

Приглашение действует до {{ expires_at.strftime("%d.%m.%Y %H:%M") }} UTC.

Принять приглашение:
{{ accept_url }}
{% endblock %}
